
.ticketCard{
    background-color: #FFFFFF;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;

    &__header{
        display: flex;
        justify-content: space-between;
    }

    &__cost{
        font-size: 24px;
        font-weight: bold;
        color: #2196F3;
    }

    &__logo{
        height: 20px;
        width: 20px;
        background-color: tomato;
    }

    &__inner{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__transferRow{
        display: flex;
    }

    &__infoBlock{
        width: 33%;
        flex-grow: 1;

        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    &__infoAnn{
        color: #A0B0B9;
        font-weight: bold;
    }

    &__infoContent{
        font-weight: bold;
    }
}
